body {
    background-color: #cad2c5;
}

img {
    width: 500px;
    height: auto ;
}

h1 {
    color: #52796f;
    font-size: 80px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
}