body {
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    color: #582351;
}

img {
    width: 572px;
    height: auto ;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}
